.container_login_page {
  height: 100vh;
}

.wrapper_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  background-image: url('../../assets/fondoLogin.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.8);
  width: 600px;
  margin: 0 auto;
  height: 584px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.153);
}

.wrapper_token {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.8);
  width: 600px;
  margin: 0 auto;
  height: 20em;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.153);
}

.contenedor_form {
  width: 90%;
  height: 90%;
}

.contenedor_form h1 {
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: 700;
  height: 56.25px;
  width: 500px;
  color: #1a76d2;
  text-align: center;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 64px;
  margin-right: 64px;
  height: 100%;
}
/* TODO : Revisar si estos estilos se usan */
/* .form_register_company {
	width: 100%;
	margin: 80px 0px;
	padding-inline: 64px;
	align-items: flex-start;
} */

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
  text-align: center;
  max-width: 500px;
}

/* .container_btn_pass_firts {
	width: 100%;
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
} */

/* .container_btn_pass_firts a {
	cursor: pointer;
	display: block;
	text-align: center;
	color: #1a76d2;
}

.container_btn_pass_firts_2 {
	margin-top: 25px;
	width: 100%;
}

.children_one_btn_pass_firts_2 {
	display: flex;
	justify-content: space-between;
	color: #1a76d2;
}

.internal_user {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	color: #1a76d2;
} */

.contenedor_form_code {
  width: 90%;
  height: 90%;
}

.contenedor_form_code h1 {
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  margin: 20px auto;
  width: 500px;
  color: #1a76d2;
  text-align: center;
}

.contenedor_form_code form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 64px;
  margin-right: 64px;
  height: 70%;
}

.input_group_code {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 43px 0;
  text-align: center;
  max-width: 500px;
}

/* .form_register_company {
	width: 100%;
	margin: 80px 0px;
	padding-inline: 64px;
	align-items: flex-start;
} */

.container_btn_pass_firts {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.container_btn_pass_firts a {
  cursor: pointer;
  display: block;
  text-align: center;
  color: #1a76d2;
}

.container_btn_pass_firts_2 {
  margin-top: 25px;
  width: 100%;
}

.children_one_btn_pass_firts_2 {
  display: flex;
  justify-content: space-between;
  color: #1a76d2;
}

/* .internal_user {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	color: #1a76d2;
} */

/* RESPONSIVE */

/* responsive ancho de 375 y alto de 667 */
@media (max-width: 375px) {
  .wrapper_container {
    background-position: center;
  }
  .wrapper {
    width: 90%;
    margin: 0 auto;
    height: 70%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.153);
  }
  .contenedor_form {
    width: 100%;
    height: 100%;
  }
  .contenedor_form h1 {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: 700;
    width: 250px;
    color: #1a76d2;
    height: 56.25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    height: 100%;
  }

  .contenedor_usuario {
    margin-top: 25px;
  }

  .input-group
    .input_data
    .css-1tq161j-MuiInputBase-root-MuiOutlinedInput-root {
    height: 50px;
  }
  .contenedor_form form .css-125i6vc-MuiButtonBase-root-MuiButton-root {
    width: 100%;
    margin-top: 60px;
  }
  .container_btn_pass_firts {
    width: 100%;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
  }
  .contenedor_form form .container_btn_pass_firts a {
    cursor: pointer;
    display: block;
    text-align: center;
    color: #1a76d2;
  }
}
