.registro_empresa_container {
  margin: 20px auto;
  width: 90%;
  margin-bottom: 10px;
}

.registro_empresa_container h1 {
  color: #1a76d2;
  margin-bottom: 15px;
  text-align: left !important;
}

.registro_empresa_container h3 {
  color: #1a76d2;
  margin-bottom: 25px;
  text-align: left !important;
}

.form_register_company {
  width: 100%;
  margin: 40px 0px;
  padding-bottom: 90px;
  padding-inline: 64px;
  align-items: flex-start;
}
