.bienvenidos_container {
  width: 100%;
  margin: 150px auto 0px auto;
}

.bienvenidos {
  width: 90%;
  margin: 20px auto 60px auto;
}

.bienvenidos h1 {
  color: #1a76d2;
  margin-bottom: 10px;
  text-align: left !important;
}

.contacto {
  width: 90%;
  margin: 60px auto;
  /*  border: 2px solid #1A76D2; */
  /* padding: 15px; */
  /* border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #1A76D2; */
}

.contacto .contacto_child {
  /*  margin-left: 10px; */
}

.contacto h2 {
  color: #1a76d2;
  margin-bottom: 10px;
}

.contacto h5 {
  color: #1a76d2;
  margin: 10px 0px;
}

.medios {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.medios span {
  font-size: 20px;
  font-weight: bold;
  color: #1a76d2;
  margin-right: 5px;
}

.novedades {
  height: 500px;
  margin: 60px auto;
  width: 90%;
}

.novedades h2 {
  color: #1a76d2;
}

.novedades img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
