.generador_boletas_container {
  margin: 50px auto;
  width: 90%;
}

.generador_boletas_container h1 {
  color: #1a76d2;
  margin-bottom: 65px;
  text-align: left !important;
}

.cwbcb {
  color: white !important;
  background-color: #1a76d2 !important;
}

.importes {
  text-align: right !important;
}

.importes {
  text-align: right !important;
}

.even {
  background-color: rgb(238, 238, 238);
}
