.datos_container {
  margin: 150px auto 0px 10%;
  width: 90%;
}

.datos_container h1 {
  color: #1a76d2;
  margin-bottom: 65px;
  text-align: left !important;
}

.formC {
  width: 350px;
}

.item {
  padding: 10px;
}
/*
.cellClass {
  border-width: 3px !important;
}
*/
