.otros_pagos_container {
  margin: 150px auto 0px auto;
  width: 90%;
}

.otros_pagos_container h1 {
  color: #1a76d2;
  margin-bottom: 65px;
  text-align: left !important;
}
.input-currency:focus {
  outline: none;
  border: 1px;
  border-color: aquamarine;
}