* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: "rockwell";
  src: url("./assets/fonts/Roboto-Bold.ttf");
}

html {
  height: 100vh;
  width: 100%;
}

body {
  margin: 0 auto;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #1a76d2;
  color: #fff;
  min-width: 600px;
  z-index: 3;
}

header div {
  display: flex;
  align-items: center;
  gap: 20px;
}

h2 a {
  text-decoration: none;
  color: #fff;
}

nav,
.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

/* LOGIN STYLES */
.wrapper_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 86px);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 600px;
  margin: 0 auto;
  height: 584px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.153);
}

.contenedor_form {
  width: 90%;
  height: 90%;
}

.contenedor_form h1 {
  font-size: 48px;
  font-weight: 700;
  height: 56.25px;
  width: 500px;
  color: #1a76d2;
  text-align: center;
}

.contenedor_form h3 {
  font-weight: 400;
  font-size: 32px;
  height: 35.5px;
  color: #1a76d2;
  margin-bottom: 10px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 64px;
  margin-right: 64px;
  height: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
  text-align: center;
}

.container_btn_pass_firts {
  margin-top: 25px;
}

.container_btn_pass_firts a {
  display: block;
  text-align: center;
  color: #1a76d2;
}

.container_btn_pass_firts_2 {
  margin-top: 25px;
  width: 100%;
}

.children_one_btn_pass_firts_2 {
  display: flex;
  justify-content: space-between;
  color: #1a76d2;
}

.internal_user {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  color: #1a76d2;
}

/* REGISTER COMPANY */
.container_dashboard_register_company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.container_dashboard_register_company h1 {
  font-size: 48px;
  font-weight: 700;
  height: 56.25px;
  width: 500px;
  color: #1a76d2;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 10px;
}

.container_dashboard_register_company h3 {
  font-weight: 400;
  font-size: 32px;
  height: 35.5px;
  color: #1a76d2;
  margin-bottom: 10px;
}

/* .form_register_company {
	
}
 */
.container_dashboard_register_company .input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
  text-align: center;
}

/* 
 
.username {
	color: #fff;
}

.btn-logout {
	border: 1px solid #fff;
	background: none;
	color: #fff;
	padding: 5px 20px;
	border-radius: 6px;
	cursor: pointer;
}

.btn-logout:hover {
	background-color: #fff;
	color: #000;
}

.wrapper_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	width: 600px;
	margin: 0 auto;
	height: 584px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.153);
}

.wrapper h1 {
	color: #18365D;
	font-size: 48px;
	font-weight: 700;
	height: 56.25px;
	width: 500px;
	text-align: center;
}

.wrapper h3 {
	color: #18365D;
	font-weight: 400;
	font-size: 32px;
	height: 35.5px;
	margin-bottom: 10px;
}

.contenedor_form {
	width: 100%;
	height: 80%;
	margin-top: -10px;
}

form {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-left: 64px;
	margin-right: 64px;
	height: 100%;
}

.input-group {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 10px 0;
	text-align: center;
}

.input-group input {
	font-weight: 400;
	font-size: 16px;
	height: 51px;
	width: 472px;
	border-radius: 8px;
	border: none;
	border: 1px solid #18365D;
	padding-left: 10px;
	
	outline: none;
	box-shadow: 0 0 0 2px #18365D;
	color: #18365D;
}


.input-group input::placeholder {
	color: #18365D;
}

.x {
	display: flex;
	justify-content: center;
}

.btn_form_botton {
	width: 80%;
}

.btn_ingresar {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 51px;
	border-radius: 8px;
	border: none;
	background-color: #2e4a6f;
	color: #fff;
	transition: background-color 0.3s ease;
}

.btn_ingresar:hover {
	background-color: #18365D;
}

.container_btn_pass_firt {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 20px;
	color: #18365D;
	margin-top: -65px;
}

.input-group a {
	color: #18365D;
}

.title_register {
	margin-bottom: 45px;
}




main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: 40px;
	height: auto;
}

.container_dashboard_register_company h1 {
	text-align: center;
	color: #18365D;
}

.container_dashboard_register_company h2 {
	text-align: center;
	color: #18365D;
}

.probando {
	display: flex;
	justify-content: space-around;
	border: 1px solid #18365D;

}




.input-group .probando {
	font-weight: 400;
	font-size: 16px;
	height: 51px;
	width: 472px;
	border-radius: 8px;
	border: none;
	border: 1px solid #18365D;
	padding-left: 10px;

	outline: none;
	box-shadow: 0 0 0 2px #18365D;
	color: #18365D;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: -10px;
}

.input-group .probando .input {
	width: 80%;
	text-align: start;
}

.input-group .probando span {
	width: 20%;
	margin-top: 10px;
	font-size: 2rem;
}

.ramos {
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: opacity 0.3s, height 0.3s;

}

.ramos_visible {
	display: block;
	width: 100%;
	margin: 20px auto 20px -5px;
}

.ramos_visible ul {
	text-decoration: none;
	list-style-type: none;
}

.ramos_visible ul li {
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.153);
	color: #18365D;
	margin: 0 10px 10px 10px;
	border-radius: 5px;
	padding: 10px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 450px;
}

.ramos_visible ul li:hover {
	background-color: #18365D;
	color: #fff;
	margin: 0 10px 10px 10px;
	border-radius: 5px;
	padding: 10px;
}
 */
