/*
body{
  background-color: #f4f4f5;
  padding: 40px;
  padding-top: 5%;
  display: grid;
  place-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*/
.container {
  margin: 150px auto 0px auto;
  width: 90%;
}

.container h1 {
  color: #1a76d2;
  margin-bottom: 65px;
  text-align: left !important;
}
/*
    **Drag and Drop component
*/

.button_act {
  max-height: 3em !important;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: #f6f8fc;
  width: 400px;
  min-height: 10em;
  padding: 24px 12px;
  border-radius: 8px;
  border-top: 7px solid;
  box-shadow: 0 8px 16px rgba(#333, 0.1);
}

.column--1 {
  border-color: rgb(26, 118, 210);
}

.column--1 .title {
  color: rgb(26, 118, 210);
  font-size: 1rem;
}

.column--2 {
  border-color: rgb(26, 118, 210);
}

.column--2 .title {
  color: rgb(26, 118, 210);
  font-size: 1rem;
}

.drag-and-drop {
  display: flex;
  grid-gap: 40px;
  margin-top: 2em;
  justify-content: center;
}

.dd-zone {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  height: 100%;
  min-height: 20em;
}

.dd-element {
  font-size: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 12px 16px;
  cursor: pointer;
  color: #5b5b73;
}

.dd-element .body {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 0;
}
